@page "/about"

<PageTitle>About</PageTitle>

<h1>About Me</h1>

<p>
    We're all so focused on the where: where we're going, where we've been; where we want to go; where we need to go. Then we focus on the when: when is this all going to happen.

    Then we get told we need to ask ourselves how: how to make this all happen; what are the methods we will employ to realize our lives.

    Then we hear that the where doesn't matter so much as the who: who are we spending time with and who are we going to be with in the future?

    While all these are important, I've always felt that the why is left out of the conversation. Whether that's because people are too scared to think about it or because they deem it less important than other things or because it never comes into peoples' minds, I'm not sure. However, to me, this is the most important question: why are we doing what we're doing? Why do we have the dreams and ambitions that we do? Why are they important to us and to the world? Why was our past the way it was and why is our future going to be the way it turns out?

    This page intends to be a semi-professional exploration of my intentions. It aims to explore the why of things that have happened to me; why I enjoy the things I do; why I want to do the things I hope to do in the future. It aims to shed some light onto why I am the way I am, so that it may serve as a get-to-know-me page for potential friends and colleagues, as well as illuminate what kind of person I am to prospective employers by more than body-of-work or skill-set exposes.

</p>

<!--<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>-->

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
