@page "/about"

<PageTitle>About</PageTitle>

<h1>About Me</h1>

<div class="container-fluid">
    <div class="row">

        <section class="col-xl-4 col-lg-4 col-md-6 col-10 offset-1 offset-sm-0 col-sm-6">
            <div class="container-fluid list-border">

                <h4>Locations</h4>
                <ul>
                    <li>Ashland, Oregon</li>
                    <li>Eugene, Oregon</li>
                    <li>State College, Pennsylvania</li>
                </ul>
            </div>
        </section>
        <section class="col-xl-4 col-lg-4 col-md-6 col-10 offset-1 offset-sm-0 col-sm-6">
            <div class="container-fluid list-border">

                <h4>Pursuits & Interests</h4>
                <ul>
                    <li>Software Development</li>
                    <li>Reading</li>
                    <li>Film</li>
                    <li>Cooking</li>
                    <li>Walking</li>
                    <li>Learning</li>
                    <li>Games</li>
                </ul>
            </div>
        </section>
        <section class="col-xl-4 col-lg-4 col-md-6 col-10 offset-1 offset-sm-0 col-sm-6">
            <div class="container-fluid list-border">

                <h4>Traits - Ask me about my:</h4>
                    <li>Tenacity</li>
                    <li>Resilience</li>
                    <li>Adaptability</li>
                    <li>Communication</li>
                    <li>Patience</li>
                    <li>Critical Thinking</li>
            </div>
        </section>
        <section class="col-xl-4 col-lg-4 col-md-6 col-10 offset-1 offset-sm-0 col-sm-6">
            <div class="container-fluid list-border">

                <h4>Things I Like</h4>
                <ul>
                    <li><a href="https://www.youtube.com/SmoothMcGroove">Smooth McGroove</a></li>
                    <li><a href="https://www.windy.com">Windy</a></li>
                    <li><a href="https://thinkdirtyapp.com/">Think Dirty App</a></li>
                    <li><a href="https://www.eaa.org/eaa">Experimental Aircraft Organization</a></li>
                </ul>
            </div>
        </section>

    </div>

</div>

<!-- SOURCE TEXT
    I was born and raised in Ashland, Oregon, and lived there for over half my life. 
    I have worked as a coach, a pizzaiolo, a deli cook, a restaurant manager, a delivery driver, a writer, a mechanic, and a salesman. 
    I earned a BA in Philosophy, before beginning flight training with aspirations to become a professional pilot.

<p>
    Currently, I'm pursuing a career in programming and software development and enjoying every minute of it. 
    I spend my time reading, watching films and television, cooking, walking, and, most of all, always learning. 
    I live in State College, PA with my inimitable partner, Emily.
</p>
<p>
    A short list of challenges I’ve faced include: 
    melanoma (skin cancer) on my thigh and on my liver (four surgeries in two months and over four years of treatment); 
    losing my home to the Almeda Fire in 2020; 
    caring for my dad as he prepared for and recovered from quadruple bypass surgery; 
    financing my own way through college with almost no family support; 
    watching my mom go through cancer treatments.

</p>
<p>
    The values that are important to me are not necessarily important to everyone else. 
    However, the act of valuing something more than material gains is universal. 
    Eons from now, the house I build for my family will be dust and debris. 
    The people I love will be gone. The society and culture I live in will likely have dissolved. 
    Lasting change comes from the lives we touch and that touch us. 
    My partner, my relationships with others, and the good that I can put into the world are more 
    precious than any skill or item I can acquire in this lifetime. 
    If I can learn some useful skills and apply them along the way, then so much the better.

</p>
<p>
    I’m curious. I like to know how things work. 
    I like asking questions that have no answers. 
    Long walks and long discussions are best done simultaneously. 
    I practice Tai-Chi, read all types of media, love superheroes, and think video games are arguably the most engaging form of storytelling we have.

</p>
-->


@code {
    
}
