@page "/email"
@using System.Net.Mail;

<h2>Submit Email Request for Assistance</h2>



<!--
  <form method="post" action="ProcessRequest.cshtml">
    <div>
        Your name:
        <input type="text" name="customerName" />
    </div>

    <div>
        Your email address:
        <input type="text" name="customerEmail" />
    </div>

    <div>
        Details about your problem: <br />
        <textarea name="customerRequest" cols="45" rows="4"></textarea>
    </div>

    <div>
        <input type="submit" value="Submit" />
    </div>
  </form>
  -->

  @code {

    

  }

<!--
@using PersonalSite
@inject EmailApiClient client

<h3>Contact me</h3>

<EditForm Model="@emailModel" OnValidSubmit="@HandleValidSubmit">

    <InputText id="first-name" @bind-Value="emailModel.FirstName" />

    <InputText id="last-name" @bind-Value="emailModel.LastName" />

    <InputText id="address" @bind-Value="emailModel.Address" />

    <button type="submit">Submit</button>
</EditForm>

@code {
    private Email emailModel = new();

    private async Task HandleValidSubmit()
    {
        emailModel.CreatedOn = DateTime.Now;
        await client.AddStudent(emailModel);
    }
}
-->
