@page "/"

<PageTitle>Index</PageTitle>

<!--<img class="container" src="images/image0.png" /> -->

<h1>Welcome to the suck...</h1>
<p>Stay a while. See the sights. Or lack thereof...</p>




<div class="container">
    

    @for (int i = 0; i < 4; i++)
    {
        int imageId = i;
        <button class="btn btn-image" @onclick="() => ShowImage(imageId)">
            Image @imageId
        </button>
    }
    @if (imageSource is not null)
    {
        <div class="container-fluid">
            <img class="container-fluid index-images" src="@imageSource" />
        </div>
    }
    @code {
        private string? imageSource;

        private void ShowImage(int id)
        {
            imageSource = $"images/image{id}.jpg ";
        }
    }
</div>

