@page "/"

<PageTitle>Home</PageTitle>

<!--<img class="container" src="images/image0.png" /> -->

<h1>Welcome to the suck...</h1>
<p>Stay a while. See the sights. Or lack thereof...</p>




<div class="container">
    

    @for (int i = 0; i < 4; i++)
    {
        int imageId = i;
        
        @switch (imageId)
        {
            case 0:
                <button class="btn btn-image" @onclick="() => ShowImage(imageId)">Dorks</button>
                break;
            case 1:
                <button class="btn btn-image" @onclick="() => ShowImage(imageId)">Beach</button>
                break;
            case 2:
                <button class="btn btn-image" @onclick="() => ShowImage(imageId)">Winter</button>
                break;
            case 3:
                <button class="btn btn-image" @onclick="() => ShowImage(imageId)">More dorks</button>
                break;
        }
        
    }
    @if (imageSource is not null)
    {
        <article class="container-fluid">
            <img class="index-images" src="@imageSource" />
        </article>
    }
    @code {
        private string? imageSource;

        private void ShowImage(int id)
        {
            imageSource = $"images/image{id}.jpg ";
        }
    }
</div>

