.skill-tile-covered {
    background-color: #31708e !important;
    color: #31708e !important;
    padding: 5% 25%;
}

.article-buffer {
    padding-top: 12px;
    padding-bottom: 12px;
}

.skill-tile-displayed {
    background-color: #687864 !important;
    color: #f7f9fb !important;
    padding: 5px;
    text-align: center;
}

.skill-image {
    height: 100%;
    width: auto;
}