@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>


    <main class="content-buffer">

        <div>
            <img class="container-fluid banner-image" src="images/image1.jpg" />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main> 
</div>
