@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>


    <main class="content-buffer">

        <article class="container-fluid">
            <img class="banner-image" src="images/banner.jpg" />
        </article>

        <article class="content px-4">
            @Body
        </article>
        <article class="footer">


            <a href="https://www.github.com/ledmands" target="_blank"><img class="footer-icons" src="images/icons/github.png" /></a>
            <a href="https://www.linkedin.com/in/lucas-edmands-a274411a9" target="_blank"><img class="footer-icons" src="images/icons/linkedin.png" /></a>
                <a href="mailto:ledmands@proton.me" target="_blank"><img class="footer-icons" src="images/icons/email.png" /></a>
                &copy; 2022 Quod Erat Designs
            
        </article>
    </main> 

    
</div>
