@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>


    <main class="content-buffer">

        <div class="container-fluid">
            <img class="banner-image" src="images/banner.jpg" />
        </div>

        <article class="content px-4">
            @Body
        </article>
        <section class="footer">

            <div class="container-fluid">
                <img class="footer-icons" src="images/icons/github.png" />
                <img class="footer-icons" src="images/icons/linkedin.png" />
                <img class="footer-icons" src="images/icons/github.png" />
            </div>
            

            <div class="footer-text">
                &copy; 2022 Quod Erat Designs
            </div>
        </section>
    </main> 

    
</div>
